<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>NewsPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>tcejorptset.servl.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  
  <filter>
		<filter-name>localefilter</filter-name>
		<filter-class>tcejorptset.servl.filter.LocaleFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>localefilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	
  <listener>
  <listener-class>tcejorptset.servl.listener.ContextListener</listener-class>
  </listener> 
  
  <listener>
  <listener-class>tcejorptset.servl.listener.SessionListener</listener-class>
  </listener>
  
</web-app>