<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>NewsPortal</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.tcejorptset.servl.controller.FrontController</servlet-class>
		<multipart-config>
			<location></location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>ChangeLocaleFilter</filter-name>
		<filter-class>com.tcejorptset.servl.controller.filters.ChangeLocaleFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ChangeLocaleFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>RemoveErrorFilter</filter-name>
		<filter-class>com.tcejorptset.servl.controller.filters.RemoveErrorFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>RemoveErrorFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.tcejorptset.servl.controller.filters.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.tcejorptset.servl.controller.listeners.ConnectionPoolOpsListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.tcejorptset.servl.controller.listeners.LoginByTokenListener</listener-class>
	</listener>

</web-app>