/* div.log-field { */
/*  	margin: 10px; */
/* 		background-color: rgb(165, 255, 255); */
/* 		margin-left: auto; */
/* 		margin-right: auto; */
/* 		margin-top: auto; */
/* 		margin-bottom: auto; */
/* 		width: 490px; */
/* 		height: 35px; */
/* 		padding: 40px */
/* }  */

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 20px; 
}

.special-item {
	grid-column-start: 1; 
	grid-column-end: 3;	
}

input {
	border-radius: 5px;
	border-style: solid;
	font-family: "Times New Roman";
	transition: all 1s;
}

input.text {
	margin-top: 42px;
	border-color: rgba(0, 110, 255, 0.75);
	/* 	background-color: rgb(245, 255, 200); */
	color: rgb(55, 125, 125);
	height: 25px;
	font-size: 18px;
}

input.text:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 95, 225, 0.25);
}

input.login_btn, input.registration_remember_btn, input#signOut {
	font-size: 16px;
	white-space: normal;
	font-weight: bold;
	height: 30px;
	transition: all 200ms;
}

input.login_btn, input#signOut{
	border-color: rgb(0, 110, 255);
	background-color: white;
	color: rgb(0, 125, 225);
	width: 80px;
}

input.login_btn#signin {
	background-color: rgb(0, 125, 225);
	color: white;
}

input.registration_remember_btn {
	border-color: rgb(250,250 ,0);
	background-color: rgb(255, 255, 0);
	color: black;
	width: 105px;
}

input.login_btn:hover, input#signOut:hover {
	scale: 1.02 1.1;
	border-color: rgb(0, 90, 205);
	background-color: rgb(0, 95, 205);
	color: white;
}

input.registration_remember_btn:hover {
	scale: 1.02 1.1;
	border-color: rgb(240, 240, 0);
	background-color: rgb(245, 9245, 0);
}

.ph-container {
	position: relative;
}

.ph-container label {
	pointer-events: none;
	color: rgba(0, 110, 255, 0.6);
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	top: -2px;
	left: 5%;
	position: absolute;
	transition: all 200ms;
	visibility: hidden;
}

.ph-container>input:focus+label, .ph-container>input:not(:placeholder-shown)+label
	{
	top: -22px;
	left: 10px;
	font-size: 14px;
}

.text {
	padding-left: 0px;
	padding-right: 0px;
	/*     border-left-width: 0px;  */
	/*     border-right-width: 0px;   */
	visibility: hidden;
	width: 0%;
}

input.loginForm {
	padding-left: 5px;
	padding-right: 5px;
	border-width: default;
	white-space: normal;
	visibility: visible;
	width: 150px;
}