/* for base layout */
html,
body {
	height: 100%;
	width: 1000px;

	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

* {
	margin: 0 auto;
}

input {
	border-radius: 5px;
	border-style: solid;
	font-family: "Times New Roman";
}

input.button {
	font-size: 16px;
	white-space: normal;
	font-weight: bold;
	height: 2em;
	border-color: rgb(110, 110, 120);
	transition: all 200ms;
}

input.button.transperent {
	background-color: transparent;
	color: rgb(90, 90, 100);
}

input.button.grey {
	background-color: rgb(110, 110, 120);
	color: white;
}

input.button.yellow {
	border-color: rgb(250,250 ,0);
	background-color: rgb(255, 255, 0);
	color: black;
	width: 150px;
}

input.button.transperent:hover,
input.button.grey:hover {
	scale: 1.02 1.1;
	border-color: rgb(90, 90, 100);
	background-color: rgb(90, 90, 100);
	color: white;
}

input.button.yellow:hover {
	scale: 1.02 1.1;
	border-color: rgb(240, 240, 0);
	background-color: rgb(245, 245, 0);
}

.page {
	border: solid 2px grey;
	border-radius: 3px;
	font: normal 100% Times New Roman, Verdana, Tahoma, sans-serif;
	height: 99%;
	min-width: 500px;
	min-height: 500px;
	position: relative;
	width: 1000px;

}

.header {
	border-bottom: solid 2px grey;
	height: 110px;
	font-size: 24px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
}

.menu,
.content {
	bottom: 20px;
	position: absolute;
	top: 110px;
	overflow: auto;
}

.menu {
	left: 0;
	width: 20%;
	font-size: 18px;
}

.content {
	left: 20%;
	right: 0;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 10px;

	border: solid 2px grey;
	border-radius: 3px;
	border-style: solid;

	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;

	background-repeat: no-repeat;
	background-size: cover;

}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1000px;
	height: 25px;
	border-top: solid 2px grey;

	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
}

.clear {
	clear: both;
}

/* for menu */
.menu-wrapper {
	margin-top: 5px;
	margin-left: 10px;

	background: LightGray;
	padding-left: 10px;

}

.menu-title {
	background: Gray;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.list-menu-wrapper {
	background: White;
	line-height: 1.5;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.list-menu-invisible-wrapper {
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 5px;
}

.menu-title-wrapper {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

/* for header */
.wrapper {
	margin-left: 20px;
	position: relative;
}

.newstitle {
	font-size: 32px;
	width: 450px;
	height: 110px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color: DimGrey;
	font-weight: bold;
}

.local-link {
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: black;
	font-size: 14px;
}

/* for news list */
.single-news-wrapper {
	margin-top: 15px;
	/* 	margin-bottom: 15px; */
}

.single-news-header-wrapper {
	width: 100%;
	border: solid 1px rgba(110, 110, 120, 0.3);
	border-radius: 3px;
}

.news-title {
	width: 80%;
	float: left;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 20px;
	hyphens: auto;
	/* 	word-break: break-all; */
}

.news-date {
	width: 10%;
	float: right;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 5px;
	/* 	text-decoration: underline; */
}

.news-content {
	/* 	word-break: break-all; */
	hyphens: auto;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 25%;
	padding-left: 20px;
	text-align: justify;
}


.link-position {
	text-align: right;
	padding-right: 15px;
	padding-bottom: 5px;
}

.body-title {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
}

.delete-button-position {
	text-align: right;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 15px;
}

.no-news {
	margin-top: 10px;
	text-align: center;
}

/* for view news */
.news_text_format {
	margin: 0;
	width: 90%;
	text-align: left;
	hyphens: auto;
	/* 	word-break: break-all; */
}

.word-breaker {
	/* 	word-break: break-all; */
	hyphens: auto;
	text-align: justify;
}

.space_around_view_text {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.space_around_title_text {
	width: 20%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: Grey;
}

.first-view-button {
	width: 80px;
	position: relative;
	margin-bottom: 1%;
	left: 22%;
}

.second-view-button {
	width: 80px;
	position: relative;
	margin-bottom: 3%;
	/*	bottom: 20px;*/
	left: 35%;
}

a:visited {
	color: #CC6600;
}

/* for add news  */
.cancel-button {
	width: 40px;
	position: relative;
	bottom: 23px;
}

.save-button {
	width: 40px;
	position: relative;
	left: -90px;
}

.add-table-margin {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.add-table-cell-space-top {
	margin-top: 5px;
	margin-bottom: 5px;
}

.add-table-cell-space-bottom {
	margin-top: 10px;
	margin-bottom: 10px;
}

.align_container {
	display: table;
	width: 100%;
}

.align_left {
	display: table-cell;
	text-align: left;
}

.align_right {
	display: table-cell;
	text-align: right;
}

.text-font {
	font: normal 100% Times New Roman;
}

.all_buttons_size {
	width: 80px;
}

/* more than one  */
.error-box {
	margin-top: 10px;
	text-align: center;
}

.text_edit {
	width: 100%;
	resize: none;
	margin-bottom: 10px;
	background-color: transparent;
	font-family: "Times New Roman";
	font-style: italic;
	border: solid 1px rgba(110, 110, 120, 0.3);
	border-radius: 3px;
}

.text_edit:focus {
	outline: 0;
	/*	box-shadow: 0 0 0 0.1rem rgba(95, 95, 105, 0.15);*/
}

.view-news-grid-container {
	margin-right: 40px;
	margin-bottom: 20px;
	width: 20%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 20px;
}

.link_button {
	text-align: left;
	background: none;
	padding-left: 0px;
	border: none;
	cursor: pointer;
	color: black;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	font-family: "Times New Roman";
	font-size: 18px;
	font-weight: bold;
	transition: all 200ms;
}

.link_button:hover {
	padding-left: 15px;
}

.header-grid-container {
	margin-top: 1px;
	padding-right: 2%;
	height: 100%;
	align-self: center;
	display: grid;
	grid-template-columns: 15% auto 18%;
	grid-template-rows: 20% 30% 50%;
}

.header-grid-item {
	margin:2px;
	padding-top: 5px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 3px 3px 2px rgba(0,0,0,0.4)
}

.header-grid-item-message {
	font-size: 1em;
	padding-top: 4.5%;
	text-align: center;
	grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header-grid-item-logo {
	grid-column-start:1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.header-grid-item-login {
	margin:1px;
	padding-top: 1.5%;
    grid-row-start: 3;
    grid-column-start:2;
    grid-column-end: 4;
}

.ph-container {
	position: relative;
}

.ph-container label {
	pointer-events: none;
	color: rgba(110, 110, 120, 0.6);
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	top: 23%;
	left: 5%;
	position: absolute;
	transition: all 200ms;
	visibility: hidden;
}

.ph-container>input:focus+label, .ph-container>input:not(:placeholder-shown)+label
	{
	top: -50%;
/*	left: 10px;*/
	font-size: 14px;
}

.text {
	padding-left: 0px;
	padding-right: 0px;
	/*     border-left-width: 0px;  */
	/*     border-right-width: 0px;   */
	visibility: hidden;
	width: 0%;
}

input.text.loginForm {
	padding-left: 5px;
	padding-right: 5px;
	border-width: default;
	white-space: normal;
	visibility: visible;
	width: 150px;
}

input#registration.loginForm {
	opacity: 0;
	width: 125px;
	transition: all 1s;
}

input#remember.loginForm {
	opacity: 1;
	width: 125px;
	transition: all 1s;
}

input.text {
	border-color: rgba(110, 110, 120, 0.75);
	background-color: transparent;
	/* 	background-color: rgb(245, 255, 200); */
	color: rgb(90, 90, 100);
	height: 25px;
	font-size: 18px;
}

input.text:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(95, 95, 105, 0.25);
}

input#remember {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: grey;
	width: 150px;
	background-color: transparent;
	border: none;
}

input {
	border-radius: 5px;
	border-style: solid;
	font-family: "Times New Roman";
	transition: all 1s;
}